*{
    margin: 0px;
    padding: 0px;
    border: none;
    vertical-align: top;
    list-style-type: none;
}
table{
	border: 1px solid #DBDCDE;
	border-top: 0;
    border-left: 0;
}
table th, td{
	border: 1px solid #DBDCDE;
	border-bottom: 0;
    border-right: 0;
    text-align: center;
}

.page{
	position: relative;
	left: 250px;
}
.page a{
	margin: 5px;
}